<mat-toolbar color="primary" class="toolbar">
    <!--button mat-icon-button (click)="snav.toggle()" title="Filters"><mat-icon>menu</mat-icon></button-->
    <!--h1 class="example-app-name"><fa-icon [icon]="faThumbsUp"></fa-icon> Copyright for instruction</h1-->
    <a routerLink="/" class="site-title"><fa-icon [icon]="faThumbsUp"></fa-icon> Copyright for instruction</a>
    <a routerLink="/filters" routerLinkActive="active" class="menu-item">BROWSE</a>
</mat-toolbar>
<router-outlet></router-outlet>
<footer-component></footer-component>




            
